* {
	padding: 0px;
	margin: 0px;
}
body {
	background-color: #000;
	color: #fff;
}
.nav-bg {
	background: #000;
}
.card-style {
	background-color: #2e2e2e;
	padding: 0;
	margin: 0;
	width: 100%;
}
.card-style:hover {
	cursor: pointer;
}
.searchNav {
	display: none;
}
.songplayer-wrapper {
	background-color: #000;
	padding: 0;
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
}
.songplayer {
	width: 100%;
	height: 5%;
	background-color: #000;
}
.enter-unique-id input {
	padding: 5%;
}